 /* to remove default body margin and set background color to gray */
body{
    margin:0;
    background-color: slategray;
    padding: 10px;
}

/*container : selected area for Todo App in a browser */
.container{
    background-color: teal;
    margin: 0 auto;
    width: 600px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid gray;
    padding: 10px;
}

/* TextArea used instead of input to provide better look and feel */
textarea{
    width: 500px;
    display: flex;
    flex-wrap: wrap;    
}

/* Heading*/
#heading{
    text-align: center;
}

/* fieldsets to provide more user friendliness to App*/
/* Used flex to devide space between fieldsets*/
.fieldsets{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

/* elements inside fieldsets*/
#category{
    width: 50%;
}

#date{
    width: 50%;
}
.date-box{
display: flex;
flex-direction: row;
}

/* container for both Add and Delete buttons*/
.add-delete-button{
    display: flex;
    width: 50%;
   margin: auto;
}

/*Add button div and button style */
.add-button,#add{
    margin: auto;
    text-align: center;
    font-family: sans-serif;
    border-radius: 1.8rem;
    padding: 5px;
    border: 1px solid orangered;
    background-color: orangered;
    color: whitesmoke;
    width: 50%;
    
}

/*delete button div and button style */
/* .delete-button, #delete{
    text-align: center;
    padding: 5px;
    margin-left: 5px;
    border-radius: 1.8rem;
    border: 1px solid darksalmon;
    background-color: darksalmon;
    color: whitesmoke;
    width: 0%;
} */


/* 
#plus,#trash{
    color: whitesmoke;
} */


/* display Task lists */

.display-task{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
}
/* */
.category{
    
    border:1px solid ;
    /*background-color: purple;*/
    width: 15%;
    margin: auto 0;
    text-align: center;
    color: whitesmoke;   
}
#cat{
    display: inline-block;
}
ol li{
    list-style-type: none;
}